	body {
		background-image: url("https://images8.alphacoders.com/394/thumb-1920-394981.jpg");
    background-attachment: fixed;
		backface-visibility: visible;
		background-blend-mode: soft-light;
		background-size: 100%;
		margin: 25px;
		text-align: center;
    color:rgb(21, 177, 47);

	}

	pre {
	    text-align: left;
   
	}

	a {
		color: whitesmoke;
	}
