* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  margin: 0;
  background-image: url("img/newpic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.container {
  position: absolute;
  margin: 20px;
  width:  auto;
}     
.navebar {
  overflow:  hidden;
  width:auto;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navebar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: rgb(240, 235, 235);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navebar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(125, 208, 247);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
h2 {
  display: inline; 
  text-align:  right;
  text-shadow: 1px 1px 3px rgb(25, 216, 57);
  font-family:  cursive;
}
p.max {
  font-size: 60px;
  margin-top: 15%;
  text-shadow: 1px 1px 8px rgb(163, 62, 62);
}
img {
  border-radius: 50%;
}
