body {
      background-image: url("fortune.png");
      color: rgb(218, 60, 60);
      text-align: center;    
      display: flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      width: 100%;
      min-height: 100%;
      position:fixed;
}

h1 {
  width: 100%;
  max-width:100%;
  font-weight: normal;
  font-size: 40px;
  
}

button {
    font-size: 20px;
    padding: 5px 10px;
    margin-top: 40px;
    border: 0; 
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 2);
    transition: transform .3s;
}

button:hover {
            transform: scale(1.125);
} 

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-animation {
    animation: fade .5s;
}
