h2 {text-align: center;
    color: rgb(101, 101, 233);}

p {font-family: cursive;
  font-size: 22px;
  color: black;}

body   {
     	font-size: 20px; 
       background-color:lightgreen;
      	}

.topnav{
	overflow: hidden;
        background-color: rgb(22, 36, 223);}

.topnav a{float: left;
          display: block;
          color:#f2f2f2;
          text-align:center;
          padding:14px 16px;
          text-decoration: none;
          margin-left: 10px;}

.topnav a:hover{background-color: rgb(228, 80, 22);
                color: black;}
ul {
	
  list-style-type: none;
  border:3px white outset;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
     }
p {
   color:rgb(145, 124, 9);
   border-bottom-style:inherit;
}
