* {
  box-sizing: border-box;
}
body{margin: 3px ;
     padding: 10px;
     overflow: scroll;
     background-color:  cornflowerblue;
     }
.header {
  background-color: #924646;
  padding: 20px;
  text-align: center;
} 
.topnav {
  overflow: hidden;
  background-color: rgb(69, 148, 86);
}
.topnav a {
  float: left;
  display: block;
  color: #8e9e49;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: rgb(138, 64, 119);
  color: rgb(92, 185, 173);
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
div{
  display: block;
}
