* {
  box-sizing: border-box;
}
body{margin: 3px ;
     padding: 10px;
     overflow: scroll;
     background-color:   rgb(75, 75, 131);
     }
.header {
  background-color: #5b47a1;
  padding: 20px;
  text-align: center;
} 
.topnav {
  overflow: hidden;
  background-color: rgb(64, 139, 70);
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: rgb(117, 74, 74);
  color: rgb(114, 80, 80);
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
div{
  display: block;
}
