:root {
  --s1: style1.css;
  --s2: style2.css;
  --s3: style3.css;
  --s4: style4.css;
}

* {
  box-sizing: border-box;
}
body{margin: 3px ;
     padding: 10px;
     overflow: scroll;}
.header {
  background-color: #c05c7d;
  padding: 20px;
  text-align: center;
} 
.topnav {
  overflow: hidden;
  background-color: rgb(24, 182, 24);
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: rgb(197, 123, 26);
  color: rgb(211, 119, 119);
}
