body{
  text-align:  center;
  background-color:  beige;
}
h1{

  background-color:  darkseagreen;
}
button{
  
  color:  rgb(242, 245, 105);
  background-color:  rgb(176, 179, 176);
  font-size: 18px;
}