body{
  text-align:  center;
  background-color:  beige;
  font-size: 150%;
}
h1{
  font-size: 200%;
  background-color:  darkseagreen;
}
button{
  font-size:  25px;
  text-align: center;
  color:  rgb(242, 245, 105);
  background-color:  rgb(176, 179, 176);
  margin: 15px;
}
table{
  margin: auto; 
  text-align: left;
  background-color: white;
}
th{
  background-color:  rgb(77, 121, 172);
}
#access,#tools,
#access1,#tools1
#access2,#tools2, 
#access3,#tools3,
#access4,#tools4
#access5,#tools5, 
#access6,#tools6,
#access7,#tools7, input {
  width: 25px;
 
}